# Jupyter Notebook
.ipynb_checkpoints

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/


maps_composers/
misc/
msdi/
msdi_img/
*.zip

*.pb
img_model_conv/variables/
img_model_dense/variables/
img_model/variables/
deep_model/variables/
mfcc_model/variables/
txt_model/variables/
hybrid_model/variables/
late_model/variables/
early_model/variables/

msx_lyrics_genre.txt
mxm_dataset_train.txt
mxm_dataset_test.txt

composers_classification/wavelets
composers_classification/spectrogram
*.ini
*.pickle
composers_classification/
__pycache__
test.py

checkpoint
dataset/deep.npz
dataset/mfcc.npz
dataset/img.npz
dataset/txt.npz
